USE [ESHOPPER_DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 18/01/2026 10:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProId] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](50) NULL,
	[ProImage] [nvarchar](100) NULL,
	[ProPrice] [decimal](18, 2) NULL,
	[CatId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Product_Category]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Create Product_Category View
Create view [dbo].[Product_Category] as
Select ProId, ProName, ProImage, ProPrice, CatId, CatName
From Product inner join Category on Product.CatId=Category.Id
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderName] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[PaymentType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerPhone] [nvarchar](15) NULL,
	[CustomerEmail] [nvarchar](100) NULL,
	[CustomerAddress] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RollName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRolesMapping]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesMapping](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/01/2026 10:45:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserPassword] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CatName]) VALUES (1, N'Men')
INSERT [dbo].[Category] ([Id], [CatName]) VALUES (2, N'Women')
INSERT [dbo].[Category] ([Id], [CatName]) VALUES (3, N'Kids')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderName], [OrderDate], [PaymentType], [Status], [CustomerName], [CustomerPhone], [CustomerEmail], [CustomerAddress]) VALUES (1, NULL, CAST(N'2026-01-15' AS Date), N'Cash', N'Processing', N'phuc', N'2400006570', N'2400006570nttueduvn', N'QL 13')
INSERT [dbo].[Order] ([OrderId], [OrderName], [OrderDate], [PaymentType], [Status], [CustomerName], [CustomerPhone], [CustomerEmail], [CustomerAddress]) VALUES (2, NULL, CAST(N'2026-01-15' AS Date), N'Cash', N'Processing', N'phuc', N'2400006570', N'2400006570nttueduvn', N'QL 13')
INSERT [dbo].[Order] ([OrderId], [OrderName], [OrderDate], [PaymentType], [Status], [CustomerName], [CustomerPhone], [CustomerEmail], [CustomerAddress]) VALUES (3, NULL, CAST(N'2026-01-15' AS Date), N'Cash', N'Processing', N'hjhgfuef', N'0967732674', N'jhsegusef', N'83/7 đường 46 Hiệp Bình Chánh, TĐức')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Price], [Quantity]) VALUES (1, 11, 150, 5)
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Price], [Quantity]) VALUES (1, 12, 120, 3)
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Price], [Quantity]) VALUES (3, 2, 70, 7)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProId], [ProName], [ProImage], [ProPrice], [CatId]) VALUES (1, N'Adidas ULTRABOOST COLD.RDY 2.0 Cloud White IE1676', N'product1.jpg', CAST(50.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Product] ([ProId], [ProName], [ProImage], [ProPrice], [CatId]) VALUES (2, N'Adidas Stan Smith White / Light blue [H03443]', N'product2.jpg', CAST(70.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Product] ([ProId], [ProName], [ProImage], [ProPrice], [CatId]) VALUES (3, N'Sneakers MLB unisex', N'product3.jpg', CAST(70.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleMaster] ON 

INSERT [dbo].[RoleMaster] ([ID], [RollName]) VALUES (1, N'Admin')
INSERT [dbo].[RoleMaster] ([ID], [RollName]) VALUES (2, N'User')
INSERT [dbo].[RoleMaster] ([ID], [RollName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[RoleMaster] OFF
GO
INSERT [dbo].[UserRolesMapping] ([ID], [UserID], [RoleID]) VALUES (1, 1, 1)
INSERT [dbo].[UserRolesMapping] ([ID], [UserID], [RoleID]) VALUES (2, 2, 2)
INSERT [dbo].[UserRolesMapping] ([ID], [UserID], [RoleID]) VALUES (3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [UserPassword]) VALUES (1, N'Admin', N'E10ADC3949BA59ABBE56E057F20F883E')
INSERT [dbo].[Users] ([ID], [UserName], [UserPassword]) VALUES (2, N'User', N'EE11CBB19052E40B07AAC0CA060C23EE')
INSERT [dbo].[Users] ([ID], [UserName], [UserPassword]) VALUES (3, N'Customer', N'91EC1F9324753048C0096D036A694F86')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[UserRolesMapping]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleMaster] ([ID])
GO
ALTER TABLE [dbo].[UserRolesMapping]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleMaster] ([ID])
GO
ALTER TABLE [dbo].[UserRolesMapping]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserRolesMapping]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
