@{
    ViewBag.Title = "OrderSuccess";
}
@* Màn hình này sẽ hiển thị khi đơn hàng được đặt thành công.*@
<h5>
    Your Order has been placed successfully.
    Please click @Html.ActionLink("here", "Index", "Product")
    go to Product page!
</h5>